<form>
  <label for="title"></label>
  {{input value=title id="title" placeholder="Add New List"}}
  <button type="button"  class="btn btn-xs btn-default" {{action 'saveList'}}>
    <span class="glyphicon glyphicon-plus"></span>
  </button>
</form>
