h3#logo {
  margin: -3%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: #000000;
}

nav.navbar.navbar-default {
  background-color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
}

h2#tagline{
  width:400px;
  font-family: 'Open Sans', sans-serif;
}

p#tagcopy{
  width:360px;
  font-family: 'Open Sans', sans-serif;
}

div#slogan {
  margin-top:6%;
}

a#ember393 {
  border: 1px solid;
  margin-top:15%;
  color: #000000;
}

div#listnav {
  margin-top: 5%;
  margin-left: 10%;
  width:100px;
}

.goal-container {
  width: 600px;
  margin: 0 auto;
  margin-top:1%;
}

div#side {
  margin-top: 1%;
  float: left;
  margin-left: 1%
}

div#goals {
  margin: 0 auto;
}

.goallist{
  width: 600px;
  margin: 0 auto;
  margin-top:3%;
}

td#goalname {
  text-decoration: none;
}
