<div class="container">
  <div id="slogan">
    <h2 id="tagline">One life.  Limitless goals. Limited time.</h2>
      <p id="tagcopy">TaskGenius is the smartest way of efficently managing your time to accomplish your goals.</p>
  </div>
</div>

<div class="text-center">
{{#link-to 'listtile' class="tag btn btn-lg"}}GET STARTED{{/link-to}}
</div>
