  <div id="list">
    <ul class="nav nav-tabs">
    {{#each model as |list|}}
        <li>{{#link-to 'listtile.list' list.id}}{{list.title}}{{/link-to}}</li>
    {{/each}}
    </ul>
  </div>

  <div id="side">
    {{new-list saveList="saveList" list=list}}
  </div>

  <div class="body">
      {{outlet}}
  </div>
